<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Message</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="header">
      <h1><%= title %> </h1>
      <a href="/">Home</a>
    </div>
    <div class="messageContainer">
      <form class ="messageForm" method="POST" action="/new">
        <p class="formHeader">Your message</p>
        <textarea  rows="10" cols="4" name="text">Create your message </textarea>
        <p class="formHeader">Your username</p>
        <input type="text" name="user" value="Your Username">
        <button type="submit" formmethod="post">Send</button>

      </form>
    </div>


  </body>
  <script src="javascripts/test.js" ></script>
</html>
